<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LibHIRT.SettingsHIRT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LibHIRT.SettingsHIRT>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoHook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLoad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoPoke" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilterOnlyMapped" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Updater" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProcAsyncBaseAddr" serializeAs="String">
                <value>undefined</value>
            </setting>
            <setting name="ProcessPath" serializeAs="String">
                <value>undefined</value>
            </setting>
            <setting name="GameLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="Version" serializeAs="String">
                <value />
            </setting>
        </LibHIRT.SettingsHIRT>
    </userSettings>
</configuration>